body {
    background-color: #FFC7C7;
  }
  hr {
    border-color: #F10086;
    border-style: solid none none none;
    width: 100;
    border-width: 9px;
  }
  h1 {
    color: #A460ED
  }
h2 {
  color: #A460ED
}
h3 {
  color: #A460ED
}

